.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    background-size: cover;
    height: 100vh;
}
.Tourism-card {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
}

.button {
    /* border-color: orange; */
    /* border-style: none; */
    justify-content: center;
    width: 138px;
    height: 36px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}